# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
parts/
var/
wheels/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checker / linter caches
.mypy_cache/
.ruff_cache/
.pyre/

# Environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/

# macOS
.DS_Store

# Sphinx build output
docs/doctrees/
docs/html/
